@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Protest+Strike&display=swap');
* {
  /* Selects all elements */
  margin: 0; /* Removes default margins */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
  text-decoration: none; /* Removes underline from all text */
  list-style: none; /* Removes list styles */
}
body {
  /* background-color: #171717; */
  /* Selects all body elements */
  color: #2188e7; /* Sets the text color */
  /* cursor: pointer;  Changes the cursor to a pointer */
  background-image: linear-gradient(150deg, #021f4f, #09142b);
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
h1{
  font-family: sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 80px;
  font-size: xxx-large;
  margin-top: 5vh;
  margin-left: 4vw;
}
h1:hover{
  text-shadow: 20px 20px 50px #2187e7;
  cursor: context-menu;
}
.main {
  /* Selects elements with class "main" */
  display: table; /* Changes the display to table */
  height: 100vh; /* Sets the height to 100% of the viewport height */
  width: 100%; /* Sets the width to 100% */
}
.myCircle {
  /* Selects elements with class "myCircle" */
  display: table-cell; /* Changes the display to table-cell */
  vertical-align: middle; /* Centers content vertically */
}
.mainCircle {
  /* Selects elements with class "mainCircle" */
  position: relative; /* Sets the position to relative */
  top: 0; /* Aligns the top edge with the top edge of its nearest positioned ancestor */
  height: 300px; /* Sets the height */
  width: 300px; /* Sets the width */
  margin: auto; /* Centers the element */
  /* background-color: red; */ /* Commented out background color */
}
.maincontent {
  /* Selects elements with class "maincontent" */
  position: absolute; /* Sets the position to absolute */
  top: 0; /* Aligns the top edge with the top edge of its nearest positioned ancestor */
  height: 100%; /* Sets the height to 100% */
  width: 100%; /* Sets the width to 100% */
  border-radius: 50%; /* Rounds the corners */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  /* Selects elements with class "circle" */
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Sets the background color to transparent */
  opacity: 0.9; /* Sets the opacity */
  height: 300px; /* Sets the height */
  width: 300px; /* Sets the width */
  margin-top: 0 auto; /* Centers the element vertically */
  box-shadow: 0 0 75px #2187e7; /* Adds a shadow */
  border-radius: 300px; /* Rounds the corners */
  animation: spinPlus 2s infinite ease-in-out; /* Applies the animation */
  
}
@keyframes spinPlus {
  /* Defines the animation */
  0% {
    transform: scale(1); /* Starts the animation at normal size */
  }
  50% {
    transform: scale(
      1.11
    ); /* Scales the element up halfway through the animation */
  }
  100% {
    transform: scale(
      1
    ); /* Returns the element to normal size at the end of the animation */
  }
}
.circle1 {
  /* Selects elements with class "circle1" */
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Sets the background color to transparent */
  border: 5px solid rgba(0, 183, 229, 0.9); /* Sets the border color and width */
  margin: 0 auto; /* Centers the element horizontally */
  position: absolute; /* Sets the position to absolute */
  top: 25px; /* Positions the element 25px from the top */
  left: 25px; /* Positions the element 25px from the left */
  height: 250px; /* Sets the height */
  width: 250px; /* Sets the width */
  border-radius: 250px; /* Rounds the corners */
  border-left: 5px solid rgba(0, 0, 0, 0); /* Sets the left border color and width */
  border-right: 5px solid rgba(0, 0, 0, 0); /* Sets the right border color and width */
  box-shadow: 0px 0px 75px #2187e7; /* Adds a shadow */
  animation: spinPlusOff 5s infinite ease-in-out; /* Applies the animation */
  background-color: #171717;
}
@keyframes spinPlusOff {
  /* Defines the animation */
  0%,
  50%,
  100% {
    transform: rotate(0deg) scale(1.1); /* Starts and ends the animation with no rotation and slightly scaled up */
  }
  50% {
    transform: rotate(360deg) scale(1); /* Rotates the element 360 degrees and scales it to normal size halfway through the animation */
  }
  50% {
    transform: rotate(-360deg) scale(1); /* Rotates the element -360 degrees and scales it to normal size halfway through the animation */
  }
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5em;
  height: 2em;
  margin-left: -2.5em;
  margin-top: -1em;
  z-index: 100;
  padding: 0.25em 0.5em;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.15em;
  font-weight: 200;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.5s;
}
button:hover {
  /* box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.75); */
  background-color: #171717;
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}
main > div {
  display: inline-block;
  width: 3px;
  height: 100px;
  margin: 0 7px;
  background: currentColor;
  transform: scaleY(0.5);
  opacity: 0.25;
}
main.error {
  color: #f7451d;
  min-width: 20em;
  max-width: 30em;
  margin: 0 auto;
  white-space: pre-line;
}
#transcript {
  position: fixed;
  width: 80vw;
  padding-left: 20vw;
  padding-right: 20vw;
  font-size: x-large;/
}
p {
  position: absolute;
  left: 25%;
  top: 70%;
  padding-left: 19vw;
  font-size: x-large;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.seperation{
  height: 1vh;
  background-color: #0c3465;
}
.creds{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: auto;
  color: white;
  gap: 10vh;
}